:root{
  --deeppurple: #36244D;
  --purple: #4C3864;
  --lightpurple: #DCBCFD;
  --peach: #F2D7CA;
  --white: #FFFFFF;
  --offwhite: #FCFAF0;
  --green: #CBEBDB;
  --red: #E65151;
}
* {
  box-sizing: border-box;
}

body{
  background-color: var(--deeppurple);
  font-family: 'Titillium Web', sans-serif;
  color: var(--deeppurple);
}

.holderbox{
  margin-top: 10px;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.box{
  background-color: var(--peach);
  border-radius: 21px;
  padding: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 50px 2fr 3fr 2fr;
  grid-template-areas:
    "im tx tg dt";
  cursor: pointer;
}

.expandbox{
  background-color: var(--peach);
  border-radius: 21px;
  padding: 10px;
  margin-bottom: 10px;
  display: none;
  grid-template-columns: 20px 55px 1fr 1fr 20px;
  grid-template-areas: 
    "im im nm nm ed"
    "im im tx dt ."
    ". tt tt tt ."
    ". tg tg tg ."
    ". eb eb eb .";
}

p{
  margin: 0px;
  font-size: 16px;
}

.smalltext{
  font-size: 13px;
}

h3{
  margin: 0px;
}

.imgbox{
  grid-area: im;
  background-color: var(--red);
  border-radius: 21px;
  height: 50px;
  width: 100%;
}

.expandbox span{
  grid-area: ed;
  color: var(--deeppurple);
  margin-left: -5px;
}

.expandbox .imgbox{
  height: 75px;
}

.textbox{
  grid-area: tx;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tagbox{
  grid-area: tg;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
}

.tag{
  background-color: var(--deeppurple);
  border-radius: 15px;
  padding-left: 7px;
  padding-right: 7px;
  margin: 2.5px;
  height: 22px;
  color: var(--lightpurple);
  align-self: center;
}

.tagtitle{
  margin-top: 5px;
  grid-area: tt;
}

.ditbox{
  grid-area: dt;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.namebox{
  grid-area: nm;
  width: 100%;
  padding-left: 10px;
}

.exbottom{
  grid-area: eb;
  display: grid;
  grid-template-areas: 
    "nt nt kt kt"
    "if bt bt .";
  column-gap: 40px;
}

.whitebox{
  background-color: var(--offwhite);
  border-radius: 21px;
  padding: 10px;
}

.notes{
  margin-top: 5px;
  grid-area: nt;
  
}

.konto{
  margin-top: 5px;
  grid-area: kt;
}

.botar{
  grid-area: bt;
  margin-bottom: -10px;
  cursor: pointer;
}

.exbottom span{
  grid-area: if;
  color: var(--deeppurple);
  margin-left: -10px;
}

.arrow{
  text-align: center;
}

#hidden{
  display: none;
}


/*David*/

input{
  margin-top: 10px;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  color: var(--lightpurple);
  font-size: 80px;
  margin-left: 40px;
  margin-top: -10px;
  margin-bottom: -10px;
}

#logud{
  background-color: var(--lightpurple);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

h2{
  color: var(--lightpurple);
  font-style: italic;
  font-size: 40px;
}
h3, h4, h4, .dashboard-p, .godkend-item{
  margin-left: 20px;
}

a{
  cursor: pointer;
}

nav{
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

#login-knap {
  padding: .9px 0px 0px 4px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
  margin-top: 10px;
}

#login-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#opret-bruger-container{
  display: none;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#opretknap{
  cursor: pointer;
}

#opretbruger-knap{
  color: white;
}
#menu-container a, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: var(--darkpurple);
  background-color: var(--green);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
#main-container{
  background-color: var(--peach);
  margin-top: 10px;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    'item1 item2'
    'item3 item4';
  gap: 10px;
  padding: 10px;
}
#main-item1{
  background-color: var(--white);
  grid-area: item1;
  border-radius: 10px;
}
#main-item2{
  background-color: var(--white);
  grid-area: item2;
  border-radius: 10px;
}
#main-item3{
  background-color: var(--white);
  grid-area: item3;
  border-radius: 10px;
}
#main-item4{
  background-color: var(--white);
  grid-area: item4;
  border-radius: 10px;
}
.godkend-item{
  background-color: var(--lightpurple);
  width: 20vw;
  height: 60px;
  border-radius: 10px;
}
#dashicon{
  float: left;
  width: 50px;
}
#godkendelser-container{
  background-color: var(--peach);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
#godkendelser-container h2{
  font-style: normal;
  color: var(--deeppurple);
  margin-left: 20px;
}
.tjeneste-item{
  background-color: var(--white);
}


.expandbox h3{
  margin: 0px;
}