:root{
  --deeppurple: #36244D;
  --purple: #4C3864;
  --lightpurple: #DCBCFD;
  --peach: #F2D7CA;
  --white: #FFFFFF;
  --offwhite: #FCFAF0;
  --green: #CBEBDB;
  --red: #E65151;
}
* {
  box-sizing: border-box;
}

body{
  background-color: rgb(109, 166, 115);
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*pop up tilføj tjeneste + knap*/
#tilfoej {
  background-color: #CCEBDB;
  border: 0;
  border-radius: 21px;
  color: #36244D;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
  }

.ttprofil {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  transition: opacity 0.3s ease;
}

.ttprofil-content{
  background-color: var(--green);
  border-radius: 21px;
  padding: 20px;
  margin:auto;
  width: 600px;
  height: 400px;
  display: grid;
  grid-template-columns: 20px 55px 1fr 1fr 20px;
  grid-template-areas:
    "pic pic nv nv luk"
    "pic pic tx1 tx2 ."
    "tx3 tx3 tx3 tx3 ."
    "ta ta ta ta ."
    "tx4 tx4 tx4 tx4 .";
}

p{
  margin: 0px;
  font-size: 16px;
  color: var(--deeppurple);
  font-weight: 400;
  font-style: normal;
}

input{
  background-color: var(--green);
  border-radius: 5px;
}

.imgb{
  grid-area: pic;
  background-color: var(--offwhite);
  border-radius: 21px;
  height: 50px;
  width: 120%;
}

.navnb{
  display: flex;
}

.navnb input{
  margin-left: 10px;
  margin-top: 10px;
  height: 20px;
}

.navnb h3{
  grid-area: nv;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 30px;
}

#luk{
  grid-area: luk;
  color: var(--deeppurple);
  background-color: #CCEBDB;
  border:0;
  border-radius: 21px;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin-right: auto;
  margin-top: -15px;
  cursor: pointer;
}

.ttprofil-content .imgb{
  height: 100px;
}

.tekstb{
  grid-area: tx1;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.tekstb2{
  grid-area: tx2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ttag{
  grid-area: ta;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--deeppurple);
  width: 30px;
  line-height: 30px;
  border-radius: 15px;
  color: var(--green);
  font-size: 20px;
  justify-content: center;
}

.tekstb3{
  margin-top: 5px;
  grid-area: tx3;
  display: flex;
}

.tekstb3 input{
  margin-left: 10px;
  margin-top: 4px;
  height: 20px;
}

.tekstb4{
  grid-area: tx4;
  display: grid;
  grid-template-areas:
    "no no kn kn"
    "tx4 tj tj .";
  column-gap: 40px;
}

.whiteb{
  background-color: var(--offwhite);
  border-radius: 21px;
  padding: 20px;
  padding-bottom: 50px;

}

.noter{
  margin-top: 5px;
  grid-area: no;

}
.kontin{
  margin-top: 5px;
  grid-area: kn;
  color: var(--deeppurple);
}

#tkonto {
  background-color: var(--offwhite);
  border:0;
  color: var(--deeppurple);
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin-left: 90%;
  margin-top: -20px;;
}

.tekstb4 span{
  grid-area: tx4;
  color: var(--deeppurple);
  margin-left: -10px;
}

.ttjeneste{
  grid-area: tj;
  text-align: center;
  cursor: pointer;
}

#ttjeneste {
  background-color: var(--deeppurple);
  border: 0;
  border-radius: 21px;
  color: var(--green);
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
}

#klips {
  color: var(--deeppurple);
  margin-top: 20px;
  margin-left: -5px;
}

/*pop up fjern tjeneste*/
#fjern {
  background-color: #36244D;
  border: 21px;
  border-radius: 21px;
  color: #E65151;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding: 10px 35px;
  }

.fjernm {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  transition: opacity 0.3s ease;
}

.fjern-content {
  background-color: #F2D7CA;
  padding-top: 20px;
  width: 460px;
  height: 300px;
  border: 0;
  border-radius: 21px;
  }

.fjernm p {
  margin: 30px;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  color: var(--deeppurple);
}
.janej {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
#ja, #nej{
  background-color: var(--deeppurple);
  border: 0;
  border-radius: 21px;
  color: #F2D7CA;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  padding: 10px 30px;
  margin: auto;
}

.fjern2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  transition: opacity 0.3s ease;
  background-color: #F2D7CA;
  padding-top: 20px;
  height: 200px;
  width: 460px;
  border: 0;
  border-radius: 21px;
}

.fjern2 p {
  display: flex;
  margin: 30px;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: var(--deeppurple);
  margin-top: 10px;
}

#ok2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--deeppurple);
  border: 0;
  border-radius: 21px;
  color: #F2D7CA;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  padding: 10px 95px;
  margin-left: 25%;
}
