:root{
  --deeppurple: #36244D;
  --purple: #4C3864;
  --lightpurple: #DCBCFD;
  --peach: #F2D7CA;
  --white: #FFFFFF;
  --offwhite: #FCFAF0;
  --green: #CBEBDB;
  --red: #E65151;
}
* {
  box-sizing: border-box;}

body {
  background-color: var(--deeppurple);
  font-family: 'Titillium Web', sans-serif;
  min-height: 100vh;
  margin: 0;
}

/*pop up tilføj tjeneste + knap*/
#tilfoej {
  background-color: #CCEBDB;
  border: 0;
  border-radius: 21px;
  color: #36244D;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  }


  /*grid area*/
.imgb {grid-area: pic}
.navnb {grid-area: nv}
.luk {grid-area: luk}
.tesktb {grid-area: tx1}
.pris {grid-area: pr}
.tstart {grid-area: st}
.tekstb2 {grid-area: tx2}
.projekt {grid-area: pt}
.taf {grid-area: tf}
.tekstb3 {grid-area: tx3}
.ttag {grid-area:tt}
.tekstb4 {grid-area: tx4}
.noter {grid-area: nt}
.kontin {grid-area: kn}
.tekstb5 {grid-area: tx5}
.whitebox {grid-area: wb1}
.whitebox2 {grid-area: wb2}
.tkonto {grid-area: tk}
.material-symbols-outlined {grid-area: kl}
.ttjeneste {grid-area: tj}

.ttprofil {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  transition: opacity 0.3s ease;
  border: 20;
  border-radius: 21px;
  background-color: #CCEBDB;
  padding-top: 20px;
  width: auto;
  max-width: 100%;
  max-height: 100%;


}

.ttprofil p {
  margin: 30px;
  color: #36244D;
  font-family: 'titillium-web', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.ttprofil-content {
  display: grid;
  grid-template-areas:
  'pic nv . luk'
  'pic pr . pt'
  'pic st . tf'
  'tx3 . . .'
  'tt . . .'
  'nt . . kn'
  'wb1 . . wb2'
  'kl . . tj';
}

.imgb {
  background-color: #ffffff;
  border: 0;
  border-radius: 21px;
  height: 150px;
  width: 150px;
  margin-left: 30px;
}

.navnb {
  color: #36244D;
  font-family: 'titillium-web', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

#luk {
  background-color: #CCEBDB;
  border:20;
  color: #36244D;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  width: 50px;
  height: 50px;
  }


#tkonto {
  background-color: #ffffff;
  border: 20;
  color: #36244D;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding: 5px 10px;
}

#ttjeneste {
  background-color: #36244D;
  border: 0;
  border-radius: 21px;
  color: #CCEBDB;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding: 10px 95px;
  float:right;
}


.tkonti {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  transition: opacity 0.3s ease;
  border: 20;
  border-radius: 21px;
  border-color: #36244D;
  background-color: #CCEBDB;
  padding-top: 20px;
  height: 200px;
  width: 460px;
  max-width: 100%;
  max-height: 100%;
}

.tkonti p {
  display: flex;
  margin: 30px;
  font-family:'Proxima Nova Alt Lt', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
#ok {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36244D;
  border: 0;
  border-radius: 21px;
  color: #CCEBDB;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  padding: 10px 95px;
  margin-left: 25%;
}

#luk2 {
  background-color: #CCEBDB;
  border:20;
  color: #36244D;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding: 5px 10px;
  float: left;
  align-items: baseline;
  }

/*pop up fjern tjeneste*/
#fjern {
  background-color: #36244D;
  border: 21px;
  border-radius: 21px;
  color: #E65151;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding: 10px 35px;
  }

#ja {
  background-color: #36244D;
  border: 0;
  border-radius: 21px;
  color: #F2D7CA;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding: 10px 95px;
  float: left;
  align-items: baseline;
}

#nej {
  background-color: #36244D;
  border: 0;
  border-radius: 21px;
  color: #F2D7CA;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding: 10px 95px;
  float:right;
}

.fjernm {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  transition: opacity 0.3s ease;
  background-color: #F2D7CA;
  padding-top: 20px;
  width: 460px;
  max-width: 100%;
  max-height: 100%;
}


.fjernm p {
  margin: 30px;
  font-family: 'titillium-web', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #36244D;
}

.fjern2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  transition: opacity 0.3s ease;
  background-color: #F2D7CA;
  padding-top: 20px;
  height: 200px;
  width: 460px;
  max-width: 100%;
  max-height: 100%;
}


.fjern2 p {
  display: flex;
  margin: 30px;
  font-family: 'titillium-web', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  color: #36244D;
}

#ok2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36244D;
  border: 0;
  border-radius: 21px;
  color: #F2D7CA;
  font-family: 'titillium-web', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding: 10px 95px;
  margin-left: 25%;
}
